# Entornos virtuales
venv/

# Variables de entorno
.env

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos Jupyter temporales (opcional si usas notebooks)
*.ipynb_checkpoints/

# Archivos del sistema (opcional)
.DS_Store
Thumbs.db


# Ignorar archivos específicos
PENDIENTE.txt
prueba.ipynb
